/* Placeholder dashboard ideas */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.eye-color {
  opacity: 0.5;
  padding: 4px;  
}
.table-button {
  padding: 4px 10px;  
}