<h1 class="page-header">Dashboard</h1>
<div class="row placeholders">
	<div class="col-sm-6 placeholder">
		<h4>First chart</h4>
		<canvas id="base" class="chart-base" chart-options="dashboard.options" chart-type="dashboard.firstChartType" chart-data="dashboard.data" chart-labels="dashboard.labels" chart-legend="true"></canvas> 
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.firstChartType" value="PolarArea">
				Polar Area
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.firstChartType" value="Doughnut">
				Doughnut
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.firstChartType" value="Pie">
				Pie
			</label>
		</div>
	</div>
	<div class="col-sm-6 placeholder">
		<h4>Second chart</h4>
		<canvas id="base" class="chart-base" chart-options="dashboard.options" chart-type="dashboard.secondChartType" chart-series="dashboard.secondSeries" chart-data="dashboard.secondData" chart-labels="dashboard.secondLabels" chart-legend="true"></canvas> 
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.secondChartType" value="Line">
				Line
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.secondChartType" value="Bar">
				Bar
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" ng-model="dashboard.secondChartType" value="Radar">
				Radar
			</label>
		</div>
	</div>
</div>
<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
	<table tr-ng-grid items='dashboard.myItems' selected-items="dashboard.mySelectedItems" page-items="10">            
		<thead>
			<tr>
			<th field-name="guid"></th>
			<th field-name="fullName" display-name="Full Name" display-format="fullName:gridItem" cell-width="150px"></th>
			<th field-name="isActive" display-name="Active" cell-width="50px" display-align="center"></th>
			<th field-name="balance" cell-width="100px"></th>
			<th field-name="age" cell-width="50px"></th>
			<th field-name="eyeColor" display-name="Eyes" cell-width="50px" enable-filtering="false""></th>
			<th field-name="company" cell-width="150px"></th>
			<th field-name="email"></th>
			<th field-name="registered"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td field-name="isActive">
				<input type="checkbox" ng-model="gridItem.isActive">                         
				</td>
				<td field-name="eyeColor">
				<span ng-style="{'background-color':gridItem.eyeColor,'color':gridItem.eyeColor}" class="eye-color">TEST</div>                         
				</td>
				<td>
					<button class="btn btn-default table-button" ng-click="dashboard.myItems.splice(myItems.indexOf(gridItem),1)">
						Fire {{gridDisplayItem.fullName}}
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td>
				<span tr-ng-grid-global-filter=""></span>
				<span class="form-group pull-left">
					<button class="btn btn-primary" ng-click="dashboard.removeSelectedElements()" ng-disabled='!dashboard.mySelectedItems.length'>Fire!</button>
				</span>
				<span tr-ng-grid-pager=""></span>
			</td>
		</tr>
		</tfoot>
	</table>
 </div>