<div class="form-group">
	<button class="btn btn-primary" ng-click="highcharts.addSeries()">Add new series</button>
	<button class="btn btn-primary" ng-click="highcharts.addPoints()">Add points to series</button>
	<button class="btn btn-primary" ng-click="highcharts.removeRandomSeries()">Remove random series</button>
	<button class="btn btn-primary" ng-click="highcharts.swapChartType()">Swap chart Type</button>
	<button class="btn btn-primary" ng-click="highcharts.swapStackingType()">Swap stacking Type</button>
</div>
<div class="form-inline">
		<rzslider
		rz-slider-draggable-range="true"
		rz-slider-floor="-100"
		rz-slider-ceil="100"
		rz-slider-model="highcharts.chartConfig.xAxis.currentMin"
		rz-slider-high="highcharts.chartConfig.xAxis.currentMax">
	</rzslider>
	<div class="form-group">
		<label>Min</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.xAxis.currentMin">
	</div>
	<div class="form-group pull-right">
		<label>Max</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.xAxis.currentMax">
	</div>

</div>
<div class="form-inline">
	<div class="form-group">
		<label>Alpha</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.options.chart.options3d.alpha">
	</div>
	<div class="form-group">
		<label>Beta</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.options.chart.options3d.alpha">
	</div>
	<div class="form-group">
		<label>Depth</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.options.chart.options3d.depth">
	</div>
	<div class="form-group">
		<label>View distance</label>
		<input type="number" class="form-control" ng-model="highcharts.chartConfig.options.chart.options3d.viewDistance">
	</div>
</div>
</br>

<highchart id="chart1" config="highcharts.chartConfig"></highchart>